@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri&display=swap');

:root{
    --main-font: 'Hind Siliguri';
    --bs-font-sans-serif: system-ui,"Segoe UI","Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
body{
    font-family: var(--bs-font-sans-serif);
}
h3{
    font-size: 1.75rem;
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

.mySlides {
    display: none
}